@font-face {
  font-family: 'Roboto';
  src: url(./Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(./Roboto-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(./Roboto-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(./Roboto-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(./Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(./Roboto-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Roboto';
  font-weight: 400;
}

.main {
  display: grid;
  grid-template-rows: 50px 1fr;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.header {
  background-color: #569DF4;
}

.sidebar {
  background-color: #fafafa;
}

.project-card:hover {
  background-color: #93B3DB;
  cursor: pointer;

}

.add-task {
  cursor: pointer;
}